:root {
  --text: #2d3748;
  --text-h: #1a202c;
  --bg: #ffffff;
  --border: #e2e8f0;
  --accent: #e53e3e;
  --accent-bg: rgba(229, 62, 62, 0.1);
  --accent-border: rgba(229, 62, 62, 0.5);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color-scheme: light;
  color: var(--text);
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
}

p {
  margin: 0;
}
